@charset "utf-8";
/* CSS Document */
html {
    font-size: 62.5%; /* 16px * 62.5% = 10px */
    width: 100%;
    box-sizing: border-box;
}
body {
    color: #3B4043; /* RGB */
    font-family: "游明朝", 'Noto Serif JP',"メイリオ" , serif;
    font-weight: 500;
    font-size: 1.6em;
    line-height: 2.4rem;
}
a {
    color: #3B4043;
    text-decoration: none;
}
a:hover {
    opacity: 0.5;
    }
p,li,dt,dl {
    line-height:1.6;
}
/* p {
	margin:0 0 1em 0;
} */
li {
	list-style-type:none;
}
img {
	border:0;
}
address {
	font-style:normal;
}
.clear {
	clear:both;
}
.br-sp {
    display: none;
}